:root{
    --primary-color: #0A2463;
    --secondary-color: #3A3C3D;
    --tertiary-color: #757575;
    --font-primary: #f0f0f0;
}

 body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--font-primary); 
}

main{
    width:75%;
    background-color: var(--primary-color);
    margin: 0 auto;
    color:var(--font-primary)
}

#title{
    width: 100%;
    font-size: 3rem;
    height: 12.5%;
    text-align: center;
    margin: 0;
    padding: 16px 0;
    background-color: var(--secondary-color);
}

#description{
    font-size: 1.5rem;
    border: 2px solid var(--font-primary);
    width: calc(100% -2rem);
    margin: 0.5rem 1rem 0;
    padding: 0.5rem 1rem;
}

#survey-form{
    background:linear-gradient(var(--font-primary),var(--tertiary-color),var(--secondary-color));
    width: calc(100% - 2rem);
    margin: 0.5rem auto 0;
}
fieldset{
color: var(--primary-color);
}
legend{
    font-weight: bold;
}

fieldset:nth-child(1) {
    width: calc(100% - 3rem);
    margin: 0.5rem auto 0;
}

#identity{
    display: flex;
    justify-content: space-evenly;
}

#lastname-input, #firstname-input, #age-input{
    display: flex;
    gap: 0.5rem;
}

#contact-input{
    text-align: center;
    margin: 0.5rem 0;
}

#contact-input input{
    width: 75%;
}

#select-input legend{
    font-weight: normal;
}

#radio-checkbox-textarea{
    width:calc(100% -2rem);
    margin: 0.5rem auto 0;
    display: flex;
}

#block2{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
}

#textarea-input{
  width:50%;  
  margin: 0 .6rem 0 0; 
}

#radio-input, #checkbox-input{
    width: calc(100% - 3rem);
}

#radio-input{
    margin: .5rem 0 0 .7rem
}

#textarea-input>textarea{
    width: 100%;
    height: 100%;
}

#submit-button{
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: center;
}

#submit{
    width: 20%;
    margin: 0.5rem auto;
    background-color: var(--primary-color);
    color: var(--font-primary);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.5rem;
}

@media screen and (min-width: 375px) and (max-width: 768px){

        main{
        width: 90%;
        margin: 0 auto;
    }

        #title{
            width: calc(100% - 1rem);
        font-size: 1.2rem;
        padding: 0 0.5rem 0.5rem;
    }

    #description{
        font-size: 0.8rem;
    }

    #name, #firstname, #age,#contact-input{
        width: 100%;
    }

            #identity{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

            #contact-input{
        display: flex;
        gap: 1rem;
    }

            #select-input{
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    #radio-checkbox-textarea{
        display: flex;
        flex-wrap: wrap;
    }

 .legend{
        font-size: 1rem;
    }

    #block2{
        width: 100%;
        margin: 0;
    }

    #textarea-input{
        width: calc(100% - 3rem);
        margin: 0.5rem  auto 0;
    }

    #submit-button{
        display: flex;
        text-align: center;
        font-size: 1rem;
        flex-direction: column;
        justify-content: center;
    }

    #submit{
        width: 30%;
        margin: 0.5rem auto;
        background-color: var(--primary-color);
        color: var(--font-primary);
        border: 2px solid var(--secondary-color);
        border-radius: 10px;
        padding: 0.5rem;
        font-size: 1rem;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px){
        main{
        width: 80%;
        margin: 0 auto;
    }

    #title{
        font-size: 2rem;
    }

    #description{
        font-size: 1rem;
    }

    #name, #firstname, #age,#contact-input{
        width: 100%;
    }

        #identity{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

        #contact-input{
        display: flex;
        gap: 1rem;
    }

        #select-input{
        width: 30%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

        #submit-button{
        display: flex;
        text-align: center;
        font-size: 1rem;
        flex-direction: column;
        justify-content: center;
    }

    #submit{
        width: 30%;
        margin: 0.5rem auto;
        background-color: var(--primary-color);
        color: var(--font-primary);
        border: 2px solid var(--secondary-color);
        border-radius: 10px;
        padding: 0.5rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1392px){
    main{
        width: 80%;
        margin: 0 auto;
    }

    #title{
        font-size: 2.5rem;
    }

    #description{
        font-size: 1rem;
    }

    #survey-form{
        width: calc(100% - 2rem);
        margin: 0.5rem auto 0;
        padding: 0.5rem 0;
    }
    #id-fieldset{
        margin: 0.5rem auto 0;
        padding: 0.5rem;
    }
    #name, #firstname, #age,#contact-input{
        width: 50%;
    }

    #identity{
        display: flex;
        gap: 1rem;
    }

    #contact-input{
        display: flex;
        gap: 0.5rem;
    }

    #select-input{
        width: 30%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    #radio-checkbox-textarea{
        width: calc(100% - 0.5rem);
    }
}